[package]
name = "precious"
version = "0.1.0"
authors = ["Dave Rolsky <autarch@urth.org>", "Nathan Kleyn <nathan@nathankleyn.com>"]
description = "One code quality tool to rule them all"
license = "MIT OR Apache-2.0"
edition = "2018"

[dependencies]
clap = "2"
clippy = { version = "*", optional = true }
failure = "0.1.5"
failure_derive = "0.1.5"
glob = "0.2.11"
globset = "0.4.1"
itertools = "0.8.0"
log = "0.4"
loggerv = "0.7"
regex = "1"
toml = "0.4.10"
walkdir = "2.2.7"

[dev-dependencies]
tempfile = "3.0.3"

[features]
default = []
