[package]
name = "precious"
version = "0.0.5"
authors = ["Dave Rolsky <autarch@urth.org>"]
description = "One code quality tool to rule them all"
repository = "https://github.com/houseabsolute/precious"
readme = "README.md"
license = "MIT OR Apache-2.0"
edition = "2018"

[badges]
travis-ci = { repository = "houseabsolute/precious" }

[dependencies]
clap = "2"
failure = "0.1"
failure_derive = "0.1"
globset = "0.4"
ignore = "0.4"
itertools = "0.9"
log = "0.4"
loggerv = "0.7"
md5 = "0.7"
path-clean = "0.1"
rayon = "1.3"
toml = "0.5"

[dev-dependencies]
spectral = "0.6.0"
tempdir = "0.3.7"

[features]
default = []
