#!/usr/bin/make -f

# generate documentation unless nodoc requested
ifeq (,$(filter nodoc,$(DEB_BUILD_OPTIONS)))
MANPAGES = debian/build/precious.1
endif

EXTRALIBS = indexmap-1.6.2 path-clean-0.1.0

# generate manpage with help2man from --help option of executable
_mkman = help2man $(if $3,--name "$(strip $3)") --no-info --output $2 $1 \
 || { $1 --help; false; }

# TODO: simplify when librust-path-clean is in Debian
%:
	dh $@ --buildsystem cargo

execute_after_dh_auto_configure:
	ln --symbolic --target-directory=debian/cargo_registry $(patsubst %,../extralibs/%,$(EXTRALIBS))

# TODO: enable when <https://github.com/houseabsolute/precious/issues/15> is fixed
override_dh_auto_test:
#	cargo test

execute_after_dh_auto_install: $(MANPAGES)

# build manpages
debian/build/precious.1: debian/build/%.1: debian/precious/usr/bin/%
	mkdir --parents $(dir $@)
	$(call _mkman, $<, $@, \
		one code quality tool to rule them all)

create-cargo-checksum:
	echo '{"package":"$(shell sha256sum Cargo.toml | grep -Po '^\S+')","files":{}}' > debian/cargo-checksum.json

fetch-extralibs:
	CARGO_HOME=debian/build/cargo-home cargo update --package indexmap --precise 1.6.2
	CARGO_HOME=debian/build/cargo-home cargo vendor --versioned-dirs debian/build/extralibs
	rm -rf debian/extralibs
	mkdir debian/extralibs
	mv --target-directory=debian/extralibs $(patsubst %,debian/build/extralibs/%,$(EXTRALIBS))
	rm -rf debian/build
	git restore Cargo.lock
